h1 {
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 20px;
}

.link-like {
    color: blue;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.delete-icon mat-icon {
    cursor: pointer;
    visibility: hidden;
}

.delete-icon:hover mat-icon {
    visibility: visible;
}

.data-table {
    text-align: center;
    width: 1000px;
    border-collapse: collapse;
    margin: 20px 0 20px;

    thead tr {
        background-color: gray;
    }

    th,
    td {
        border: 1px solid;
    }
}

.detail-section {
    border: 1px solid;
    padding: 20px;

    table td {
        padding: 10px;
    }
}
.data-table tbody tr:hover {
    background-color: #f5f5f5;
}